{% block content %}
    <style>
        .login_form {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .login_form label {
            width: 50%;
            margin: 0 auto;
        }

        .login_form select {
            width: 50%;
            margin: 8px auto;
            border: 1px solid #ccc;
        }

        .login_form input {
            width: 50%;
            margin: 8px auto;
            border-radius: 4px;
            border: 1px solid #ccc;
            padding: 10px 0;
        }

        input[type=submit] {
            width: 50%;
            background-color: #4CAF50;
            color: white;
            padding: 10px 0;
            margin: 8px auto;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .header-page h2 {
            width: 50%;
            margin: 0 auto;
            text-align: center;
        }

        .mt-50 {
            margin-top: 15%;
        }
    </style>
    <div class="mt-50">
        <div class="header-page"><h2>Вход</h2></div>
        <form class="login_form" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Войти">
        </form>
    </div>
{% endblock %}