<html>
<head>
    <title>Test</title>
    <style>
        @media print {
            @page {
                size: A4 landscape
            }
        }
        body {
            margin: 0;
            display: block;
        }

        .header-doc {
            height: 60px;
            width: 100%;
        }

        .header {
            font-size: 10px;
            margin-right: 60px;
            float: right;
        }

        .invoice-block {
            font-size: 12px;
        }

        .invoice-block {
            width: 100%;
            height: 60px;
        }

        .invoice {
            padding-left: 150px;
        }

        .personal-data {
            font-size: 12px;
            height: 180px;
        }

        .border-bottom {
            border-bottom: 1px solid black;
        }

        .w-80 {
            width: 80px;
        }

        .w-60 {
            width: 60px;
        }

        .tbl {
            background-color: #000;
        }

        .tbl td, th, caption {
            background-color: #fff;
            font-size: 9px;
        }

        tr td {
            text-align: center;
            padding: 0 5px;
            font-size: 12px;
        }

        .footer-doc {
            margin-top: 40px;
        }

        .font-size-11 {
            font-size: 11px;
        }

        .main-font {
            width: 150px;
        }

        .font-size-9 {
            font-size: 9px;
            border-top: 1px solid black;
            width: 150px;
            margin-top: 30px;
        }

        .border-top {
            border-top: 1px solid black;
        }

        .w-150 {
            width: 150px;
            vertical-align: bottom;
        }
        .height-40 {
            height: 40px;
        }
        .height-10 {
            height: 10px;
        }
        .mt-30 {
            margin-top: 30px;
        }
        .font-9 {
            font-size: 9px;
        }
    </style>
</head>
<body>
<div class="header-doc">
    <div class="header">Приложение №1<br>
        к постановлению Правительства<br>
        Российской Федерации<br>
        от 26.12.2011 № 1137
    </div>
</div>
<div class="invoice-block">
    <table class="invoice">
        <tbody>
        <tr>
            <td>СЧЕТ-ФАКТУРА №</td>
            <td class="border-bottom">{{ invoice_number }} </td>
            <td>от</td>
            <td class="border-bottom">"{{ date }}"</td>
            <td class="border-bottom">{{ date }}</td>
        </tr>
        <tr>
            <td>ИСПРАВЛЕНИЕ №</td>
            <td class="border-bottom"> -</td>
            <td> от</td>
            <td class="border-bottom"> " - "</td>
            <td class="border-bottom"> --</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="personal-data">
    <div>Продавец: <span class="border-bottom">{{ seller_company_name }}</span></div>
    <div>Адрес: <span class="border-bottom">{{ address }}</span></div>
    <div>ИНН/КПП продавца: <span class="border-bottom">{{ inn_kpp_seller }}</span></div>
    <div>Грузоотправитель и его адрес: <span class="border-bottom">{{ shipper_address }}</span></div>
    <div>Грузополучатель и его адрес: <span class="border-bottom">ИП Айдари Мохаммад Азгар Раджаб Али,РБ, Минский р-н, д. Боровая 5,
        ТЦ"Аквабел", пав.470А
    </span></div>
    <div>К платежно-расчетному документу № <span class="border-bottom">{{ date }}</span> от <span
            class="border-bottom"> {{ date }}</span></div>
    <div>Покупатель: <span class="border-bottom">ИП Айдари Мохаммад Азгар Раджаб Али</span></div>
    <div>Адрес: <span class="border-bottom">Республика Беларусь, 220012, г.Минск, ул.Кузьмы Чорного, д.13А, кв.15</span>
    </div>
    <div>ИНН/КПП покупателя: <span class="border-bottom">190096451 (УНП)</span></div>
    <div>Валюта (наименование, код):<span class="border-bottom"> Российский рубль, 643</span></div>
</div>
<div class="content-doc">
    <table cellspacing="0.1" class="tbl">
        <tbody>
        <tr>
            <td rowspan="2">Наименование товара (описание выполненных работ, оказанных услуг),
                имущественного права
            </td>
            <td colspan="2">Единица
                измерения
            </td>
            <td rowspan="2" class="w-60">Коли-
                чество
                (объем)
            </td>
            <td rowspan="2" class="w-60">Цена (тариф)
                за единицу измерения
            </td>
            <td rowspan="2">Стоимость товаров (работ, услуг), имущественных прав без налога -
                всего
            </td>
            <td rowspan="2" class="w-80">В том числе сумма акциза</td>
            <td rowspan="2">Налоговая ставка</td>
            <td rowspan="2">Сумма
                налога, предъяв-ляемая покупателю
            </td>
            <td rowspan="2">Стоимость товаров (работ, услуг), имущественных прав
                с налогом - всего
            </td>
            <td colspan="2">Страна происхождения товара</td>
            <td rowspan="2" class="w-60">Номер таможенной декларации</td>


        </tr>
        <tr>

            <td> к<br>
                о<br>
                д
            </td>
            <td class="w-80">условное обозначение (национальное)</td>


            <td>цифровой код</td>
            <td class="w-60">краткое наименование</td>


        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>2a</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>10a</td>
            <td>11</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Расчёска 9517 ALKF</td>
            <td>796</td>
            <td>шт</td>
            <td>12</td>
            <td>16</td>
            <td>192</td>
            <td>без акциза</td>
            <td>без НДС</td>
            <td>без НДС</td>
            <td>192</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td colspan="5">Всего к оплате</td>
            <td>19000,00</td>
            <td colspan="2">X</td>
            <td></td>
            <td>19000,00</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="footer-doc">
    <table>
        <tbody>
        <tr>
            <td class="main-font"><span
                    class="font-size-11">Руководитель организации или иное уполномоченное лицо</span></td>
            <td>
                <div class="font-size-9">(подпись)</div>
            </td>
            <td>
                <div class="font-size-9">(ф.и.о)</div>
            </td>
            <td class="main-font"><span class="font-size-11">Главный бухгалтер или иное уполномоченное лицо</span></td>
            <td>
                <div class="font-size-9">(подпись)</div>
            </td>
            <td>
                <div class="font-size-9">(ф.и.о)</div>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="mt-30">
        <tbody>
        <tr>
            <td class="w-150">
                <div class="height-40">Индивидуальный предприниматель</div>
                <div></div>
            </td>
            <td class="w-150">
                <div>Айдари М.А.Р.А.</div>
                <div class="border-top font-9">(подпись)</div>
            </td>
            <td class="w-150">
                <div></div>
                <div class="border-top font-9">(ф.и.о)</div>
            </td>
            <td class="w-150">
                <div class="height-40">Главный бухгалтер или иное уполномоченное лицо</div>
                <div></div>
            </td>
            <td class="w-150">
                <div></div>
                <div class="border-top font-9">(подпись)</div>
            </td>
            <td class="w-150">
                <div>УНП 190096451</div>
                <div class="border-top height-10 font-9">(реквизиты свидетельства о государственной регистрации
                    индивидуального предпринимателя)
                </div>
            </td>
        </tr>
        </tbody>
        d
    </table>
</div>
</body>
</html>