<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @media print {
            @page {
                size: A4 landscape;
            }
        }
        body {
            display: block;
            border: 1px solid black;
            height: 1000px;
        }
    </style>
</head>
<body>
{#<div>#}
{#    Унифицированная форма № ТОРГ-12<br>#}
{#    Утверждена постановлением Госкомстата<br>#}
{#    России от 25.12.98 № 132#}
{#</div>#}
{#<div>#}
{#    <table>#}
{#        <tbody>#}
{#        <th>#}
{#        <td colspan=""></td>#}
{#        <td></td>#}
{#        <td>Код</td>#}
{#        </th>#}
{#        <th>#}
{#        <td>Форма по ОКУД</td>#}
{#        <td>0330212</td>#}
{#        </th>#}
{#        <th>#}
{#        <td>Грузоотправитель</td>#}
{#        <td>ООО"ПАК СТАР" 117303, г. Москва, ул. Юшуньская , д.1А, кор.3; ОГРН:1027739507795;ИНН:7702013420;</td>#}
{#        <td>по ОКПО</td>#}
{#        <td></td>#}
{#        </th>#}
{#        <th>#}
{#        <td></td>#}
{#        <td>(организация, грузоотправитель, адрес, номер телефона, факса, банковские реквизиты)</td>#}
{#        <td></td>#}
{#        <td></td>#}
{#        </th>#}
{#        <th>#}
{#        <td></td>#}
{#        <td>КПП:772701001, р/с 40702810600020000005, ООО КБ “АНЕЛИК РУ” г. Москва</td>#}
{#        <td></td>#}
{#        <td></td>#}
{#        </th>#}
{#        <th>#}
{#        <td></td>#}
{#        <td>(структурное подразделение)</td>#}
{#        <td></td>#}
{#        </th>#}
{#        </tbody>#}
{#    </table>#}
{#</div>#}
{#<div></div>#}
{#<div></div>#}
{#<div></div>#}
{#<div></div>#}
{#<div></div>#}

<div style="width: 100%;">
    <table class="" cellspacing=0 border=1>
        <tbody>
        <tr style="">
            <td colspan="1"></td>
            <td style="font-family:Times New Roman;text-align:center;font-size:10px;border-left:1px solid;border-top:1px solid;border-left-color:#000000;border-top-color:#000000; " colspan="1">
                <nobr>Код</nobr>
            </td>
        </tr>
        <tr style="">
            <td style="font-family:Times New Roman;text-align:right;font-size:9px; " colspan="30">
                <nobr>Форма по ОКУД</nobr>
            </td>
            <td style="font-family:Arial;text-align:center;font-size:11px;border-left:2px solid;border-top:2px solid;border-bottom:1px solid;border-left-color:#000000;border-top-color:#000000;border-bottom-color:#000000; " colspan="5">
                <nobr>0330212</nobr>
            </td>
        </tr>
        <tr style="">
            <td style="font-family:Times New Roman;font-size:9px;border-bottom:1px solid;border-bottom-color:#000000; " colspan="20">
                <nobr>Грузоотправитель ООО"ПАК СТАР" 117303, г. Москва, ул. Юшуньская , д.1А, кор.3;
                    ОГРН:1027739507795;ИНН:7702013420;
                </nobr>
            </td>
            <td colspan="10">
                по ОКПО
            </td>

            <td style="font-family:Arial;text-align:center;font-size:11px;border-left:2px solid;border-top:1px solid;border-bottom:1px solid;border-left-color:#000000;border-top-color:#000000;border-bottom-color:#000000; " colspan="5">
                <nobr>&nbsp;</nobr>
            </td>
        </tr>
        <tr style="height:11px;">
            <td style="font-family:Times New Roman;text-align:center;font-size:6px;border-top:1px solid;border-top-color:#000000; " colspan="45">
                <nobr>(организация, грузоотправитель, адрес, номер телефона, факса, банковские реквизиты)</nobr>
            </td>


            <td style="font-family:Arial;text-align:center;font-size:11px;border-left:2px solid;border-top:1px solid;border-left-color:#000000;border-top-color:#000000; " colspan="10" rowspan="2">
                <nobr>&nbsp;</nobr>
            </td>
        </tr>
        <tr style="height:14px;">
            <td style="font-family:Times New Roman;text-align:center;font-size:9px;border-bottom:1px solid;border-bottom-color:#000000; " colspan="45">
                <nobr>КПП:772701001, р/с 40702810600020000005, ООО КБ “АНЕЛИК РУ” г. Москва</nobr>
            </td>
        </tr>
        <tr style="height:10px;">
            <td style="font-family:Times New Roman;text-align:center;font-size:6px;border-top:1px solid;border-top-color:#000000; " colspan="40">
                <nobr>(структурное подразделение)</nobr>
            </td>
            <td style="font-family:Times New Roman;text-align:right;font-size:9px;border-top:1px solid;border-top-color:#000000; " colspan="5" rowspan="2">
                <nobr>Вид деятельности по ОКДП</nobr>
            </td>

            <td style="font-family:Arial;text-align:center;font-size:11px;border-left:2px solid;border-top:1px solid;border-left-color:#000000;border-top-color:#000000; " colspan="10" rowspan="2">
                <nobr>&nbsp;</nobr>
            </td>
        </tr>
        <tr style="">
            <td colspan="40">
                <nobr>&nbsp;</nobr>
            </td>


        </tr>
        <tr style="height:36px;">

            <td style="font-family:Times New Roman;font-size:9px;font-weight:bold; " colspan="10">
                <nobr>Грузополучатель</nobr>
            </td>


            <td style="font-family:Times New Roman;font-size:9px;border-bottom:1px solid;border-bottom-color:#000000; " colspan="30">
                <nobr>ИП Айдари Мохаммад Азгар Раджаб Али,РБ, Минский р-н, д. Боровая 5, ТЦ"Аквабел", пав.470А,р/с
                    BY67BAPB30132724400170000000;банк г.Минск, ОАО "Белагропромбанк",кор.счёт ;БИК BAPBBY2X
                </nobr>
            </td>


            <td style="font-family:Times New Roman;text-align:right;font-size:9px; " colspan="5">
                <nobr>по ОКПО</nobr>
            </td>

            <td style="font-family:Arial;text-align:center;font-size:11px;border-left:2px solid;border-top:1px solid;border-bottom:1px solid;border-left-color:#000000;border-top-color:#000000;border-bottom-color:#000000; " colspan="10">
                <nobr>&nbsp;</nobr>
            </td>
        </tr>
        <tr style="height:11px;">


            <td style="font-family:Times New Roman;text-align:center;font-size:6px;border-top:1px solid;border-top-color:#000000; " colspan="45">
                <nobr>(наименование организации, адрес, номер телефона, банковские реквизиты)</nobr>
            </td>


            <td style="font-family:Arial;text-align:center;font-size:11px;border-left:2px solid;border-top:1px solid;border-left-color:#000000;border-top-color:#000000; " colspan="10" rowspan="2">
                <nobr>&nbsp;</nobr>
            </td>
        </tr>
        <tr style="height:33px;">

            <td style="font-family:Times New Roman;font-size:9px;font-weight:bold; " colspan="10">
                <nobr>Поставщик</nobr>
            </td>


            <td style="font-family:Times New Roman;font-size:9px;border-bottom:1px solid;border-bottom-color:#000000; " colspan="30">
                <nobr>ООО"ПАК СТАР" 117303, г. Москва, ул. Юшуньская , д.1А, кор.3;
                    ОГРН:1027739507795;ИНН:7702013420;КПП:772701001, р/с 40702810600020000005, ООО КБ “АНЕЛИК РУ” г.
                    Москва
                </nobr>
            </td>


            <td style="font-family:Times New Roman;text-align:right;font-size:9px; " colspan="5">
                <nobr>по ОКПО</nobr>
            </td>

        </tr>
        <tr style="height:11px;">


            <td style="font-family:Times New Roman;text-align:center;font-size:6px;border-top:1px solid;border-top-color:#000000; " colspan="45">
                <nobr>(наименование организации, адрес, номер телефона, банковские реквизиты)</nobr>
            </td>


            <td style="font-family:Arial;text-align:center;font-size:11px;border-left:2px solid;border-top:1px solid;border-left-color:#000000;border-top-color:#000000; " colspan="10" rowspan="2">
                <nobr>&nbsp;</nobr>
            </td>
        </tr>
        <tr style="height:31px;">

            <td style="font-family:Times New Roman;font-size:9px; " colspan="10">
                <nobr>Плательщик</nobr>
            </td>


            <td style="font-family:Times New Roman;font-size:9px;border-bottom:1px solid;border-bottom-color:#000000; " colspan="30">
                <nobr>ИП Айдари Мохаммад Азгар Раджаб Али,РБ, 220012, г. Минск, ул.Кузьмы Чорного, д.13А. кв.15;УНП
                    190096451,р/с BY67BAPB30132724400170000000;банк г.Минск, ОАО "Белагропромбанк";БИК BAPBBY2X
                </nobr>
            </td>


            <td style="font-family:Times New Roman;text-align:right;font-size:9px;" colspan="5">
                <nobr>по ОКПО</nobr>
            </td>

        </tr>
        <tr style="height:11px;">


            <td style="font-family:Times New Roman;text-align:center;font-size:6px;border-top:1px solid;border-top-color:#000000; " colspan="40">
                <nobr>(наименование организации, адрес, номер телефона, банковские реквизиты)</nobr>
            </td>
            <td style="font-family:Times New Roman;text-align:right;font-size:9px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000; " colspan="5" rowspan="2">
                <nobr>номер</nobr>
            </td>

            <td style="font-family:Arial;text-align:center;font-size:11px;border-left:2px solid;border-top:1px solid;border-left-color:#000000;border-top-color:#000000; " colspan="10" rowspan="2">
                <nobr>&nbsp;</nobr>
            </td>
        </tr>
        <tr style="height:14px;">

            <td style="font-family:Times New Roman;font-size:9px; " colspan="10">
                <nobr>Основание</nobr>
            </td>


            <td style="font-family:Times New Roman;font-size:9px;border-bottom:1px solid;border-bottom-color:#000000; " colspan="30">
                <nobr>Договор поставки № 135 от 10.09.2018г.</nobr>
            </td>

        </tr>
        <tr style="height:10px;">


            <td style="font-family:Times New Roman;text-align:center;font-size:6px;border-top:1px solid;border-top-color:#000000; " colspan="40">
                <nobr>(наименование документа (договор, контракт, заказ-наряд))</nobr>
            </td>
            <td style="font-family:Times New Roman;text-align:right;font-size:9px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000; " colspan="5" rowspan="2">
                <nobr>дата</nobr>
            </td>

            <td style="font-family:Arial;text-align:center;font-size:11px;border-left:2px solid;border-top:1px solid;border-left-color:#000000;border-top-color:#000000; " colspan="10" rowspan="2">
                <nobr>&nbsp;</nobr>
            </td>
        </tr>
        <tr style="height:14px;">
            <td colspan="40">
                <nobr>&nbsp;</nobr>
            </td>


        </tr>
        <tr style="height:21px;">


            <td style="font-family:Times New Roman;font-size:9px;text-align: right;" colspan="40">
                <nobr>Транспортная накладная</nobr>
            </td>


            <td style="font-family:Times New Roman;text-align:right;font-size:9px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000; " colspan="5">
                <nobr>номер</nobr>
            </td>

            <td style="font-family:Arial;text-align:center;font-size:11px;border-left:2px solid;border-top:1px solid;border-bottom:1px solid;border-left-color:#000000;border-top-color:#000000;border-bottom-color:#000000; " colspan="10">
                <nobr>&nbsp;</nobr>
            </td>
        </tr>
        <tr style="height:19px;">


            <td style="font-family:Times New Roman;text-align:right;font-size:9px;border:1px solid;border-left-color:#000000;border-right-color:#000000;border-top-color:#000000;border-bottom-color:#000000; " colspan="45">
                <nobr>дата</nobr>
            </td>

            <td style="font-family:Arial;text-align:center;font-size:11px;border-left:2px solid;border-top:1px solid;border-bottom:1px solid;border-left-color:#000000;border-top-color:#000000;border-bottom-color:#000000; " colspan="10">
                <nobr>&nbsp;</nobr>
            </td>
        </tr>
        <tr style="height:21px;">


            <td style="font-family:Times New Roman;text-align:right;font-size:9px; " colspan="45">
                <nobr>Вид операции</nobr>
            </td>

            <td style="font-family:Arial;text-align:center;font-size:11px;border-left:2px solid;border-top:1px solid;border-bottom:2px solid;border-left-color:#000000;border-top-color:#000000;border-bottom-color:#000000; " colspan="10">
                <nobr>&nbsp;</nobr>
            </td>
        </tr>




        </tbody>
    </table>
</div>
</body>
</html>